@media (min-width: 768px) {
    .row.equal {
        display: flex;
        flex-wrap: wrap;
    }
}

.equal>div[class^='col-'] {
    display: flex;
    flex-direction: column;
}

#Header {
    background-color: #b5d669;
    letter-spacing: 2px;
    margin: 0;
    padding: 20px;
}

#headtitle {
    font-size: 40px;
    font-weight: bold;
}

#headsubtitle {
    font-size: 32px;
    padding: 5px;
    font-style: italic;
}

#title {
    letter-spacing: 2px;
    font-size: 1.8em;
    background-color: #b5d669;
    color: #000;
    border-radius: 10px;
    font-weight: bold;
    padding: 5px;
}

#pres {
    letter-spacing: 1.2px;
    line-height: 1.4;
    background-color: #dedede;
    width: 90%;
    padding: 20px;
    text-align: justify;
    margin: auto;
    border: 1px solid #dedede;
    border-radius: 10px;
}

#b1 {
    background-color: #124c80;
    padding: 20px;
}

#b2 {
    background-color: #dedede;
    padding: 15px;
}

#b2nopad {
    background-color: #dedede;
    padding-bottom: 15px;
}

#ttcard {
    font-size: 20px;
    font-weight: bold;
}

#ttcard2 {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #dedede;
}

#Infos {
    font-size: 0.9em;
    background-color: #dedede;
    border: 1px solid #dedede;
    border-radius: 10px;
}

#res {
    height: 36px;
    border: 1px solid #dedede;
    border-radius: 10px;
}

#Footer {
    background-color: #b5d669;
    letter-spacing: 2px;
    margin: 0;
    padding: 10px;
}

#Button {
    width: 60px;
}

#txtfooter {
    color: #000;
}

#Job {
    text-align: center;
    font-style: bold;
    font-size: 15px;
    color: #dedede;
}

#Ctx {
    text-align: justify;
    font-style: bold;
    font-size: 15px;
    line-height: 1.5;
    color: #dedede;
}

#card {
    background-color: inherit;
    color: #000;
    border-radius: 10px;
    border: 3px solid #b5d669;
}

#logosch {
    height: 125px;
    width: 125px;
}

#iconfoot {
    border: none;
}

#noborder {
    background-color: #dedede;
    border-radius: 10px;
    line-height: 1.4;
}

#imgtbl {
    width: 125px;
    height: 125px;
}

.d-block {
    display: block;
}

.mx-auto {
    margin-right: auto;
}

.list-group-item {
    background-color: inherit;
}

.list-group-flush {
    border: 3px solid #b5d669;
    border-radius: 10px;
}

.table {
    margin: auto;
    width: 90% !important;
}

html {
    position: relative;
    min-height: 100%;
}