.personalInfo{
    font-size:14px;
}

ul li{
    list-style:none;
}


header, main{
    display: block;
    padding: 20px;
}

.title{
    font-size:16px;
    text-align: center;
}

.Software{
    float: left;
}

.Software table {
    border-style: solid;
    border-color: #ffffff;
    border-radius: 1px;
}

.Software table tr{
    border-color: #ffffff;
    text-align: center;
}

.Software table tr td ul{
    text-align: left;
}