@font-face {
    font-family: SeuratProDB;
    src: local("FOT-Seurat Pro DB"), url("FOT-Seurat Pro DB.otf");
    font-weight: bold;
}


/* Sert à importer une police */

body {
    margin: 0;
    padding: 0px;
    color: #000;
    background-color: #dedede;
    font-family: SeuratProDB;
}


/* HEADER */

header {
    background-color: #b5d669;
    display: flex;
    letter-spacing: 2px;
}

header .info {
    font-size: 0.9em;
    padding: 40px;
    flex: 4;
    color: #000;
}

header .info h1 {
    margin-block-start: 0;
}

header .info ul {
    list-style: none;
}

header .info ul a {
    text-decoration: none;
    color: #000;
}

header .info ul a:hover {
    font-weight: 600;
    text-decoration: none;
}

header .logo {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .logo img {
    height: 200px;
    overflow: hidden;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 100px;
}


/* MAIN */

main section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 70px;
    padding-top: 70px;
}

main section .title {
    width: 550px;
    letter-spacing: 2px;
    text-align: center;
    font-size: 1.6em;
    background-color: #b5d669;
    color: #000;
    margin-bottom: 70px;
}

main .Presentation,
.Experiences {
    background-color: #9d26b5;
}

main .Presentation .texte {
    letter-spacing: 1px;
    line-height: 1.4;
    background-color: #dedede;
    width: 90%;
    padding: 30px;
    text-align: justify;
}

main .Etudes .flx,
.Experiences .flx,
.Competences .flx {
    display: flex;
    flex-direction: row;
    background-color: inherit;
    color: #000;
}

main .Etudes .flx .et1,
.Etudes .flx .et2,
.Etudes .flx .et3,
.Experiences .flx .exp1,
.Experiences .flx .exp2,
.Competences .flx .cp1,
.Competences .flx .cp2,
.Competences .flx .cp3,
.Competences .flx .cp4 {
    width: 350px;
    flex: 2;
    border: 3px solid #b5d669;
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

main .Etudes .flx .et1 h2,
.Etudes .flx .et2 h2,
.Etudes .flx .et3 h2,
.Experiences .flx .exp1 h2,
.Experiences .flx .exp2 h2,
.Competences .flx .cp1 h2,
.Competences .flx .cp2 h2,
.Competences .flx .cp3 h2,
.Competences .flx .cp4 h2 {
    text-decoration: underline;
    font-size: 16px;
    text-align: center;
}

main .Etudes .flx .et1 img,
.Etudes .flx .et2 img,
.Etudes .flx .et3 img {
    height: 125px;
    margin-left: 20px;
}

main .Etudes .flx .et1 p,
.Etudes .flx .et2 p,
.Etudes .flx .et3 p {
    font-size: 1.1em;
    text-align: center;
    line-height: 1.4;
}

main .Experiences .flx {
    color: #fff;
}

main .Experiences .flx .exp1 .job,
.Experiences .flx .exp2 .job {
    text-align: center;
    font-style: bold;
    font-size: 15px;
}

main .Experiences .flx .exp1 .ctt,
.Experiences .flx .exp2 .ctt {
    text-align: justify;
    font-style: bold;
    font-size: 15px;
    line-height: 1.5;
}

main .Competences .flx .cp2 .img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

main .Competences .flx .cp4 ul {
    text-align: center;
    margin-left: -40px;
    list-style-type: none;
    font-size: 16px;
}


/* FOOTER */

footer .media {
    background-color: #9d26b5;
    display: flex;
    justify-content: center;
}

footer .media ul {
    display: inline-flex;
    padding-inline-start: 0em;
    list-style: none;
}

footer .media ul a {
    transition: 0.7s;
}

footer .media ul li {
    margin: 10px;
}

footer .media ul img {
    width: 75px;
}

footer .media ul:hover a {
    opacity: 0.4;
    filter: blur(1px);
}

footer .media ul:hover a:hover {
    opacity: 1;
    filter: blur(0);
}